<html>
    <body>
        <ul class="listastyle"> 
            <li>List item: $item1 #1</li> 
            <li>List item: $item2 #2</li> 
            <li>List item: $item3 #3</li> 
        </ul>
    </body>
    
    <style type="text/css">
        ul.listastyle li { 
            list-style-type: none; 
            text-align: center left; 
            background-image: url(http://www.caldwellcochamber.org/images/arrows.gif); 
            background-position: center left; 
            background-repeat: no-repeat; 
            padding: .3em 0 0 1.3em; 
        }
    </style>
<html>